/node_modules
/.DS_Store

# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/out
/.next
/.env

.vercel
.DS_Store
/.vscode
/netx.js.config
/public/img/bg/.DS_Store
/.idea/vcs.xml
/.idea/nextjs-solosec.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
